h1{
    text-align: center;
}
#info{
    border: solid 3px black;
    margin: 0 auto;
    height: 500px;
    width: 50%;
    text-align: center;
}
#hotelName{
    text-align: center;
    display: inline-block;
}